

<footer>
    

        <a href="https://github.com/karibara" class="font-anchor"><i class="fa-brands fa-square-github icons" ></i>
        </a>
        <a href="https://www.behance.net/malgorzatabozykowska" class="font-anchor"><i class="fa-brands fa-square-behance icons" ></i>
        </a>
        
        <a href="https://www.linkedin.com/in/malgorzatabozykowska/" class="font-anchor">
            <i class="fa-brands fa-linkedin icons" ></i>
        </a>
    

    <p>
        © Karibara 
    </p>

    <p>
        Małgorzata Bożykowska
    </p>
     
</footer>

<script src="app.js"></script>
<script src="navbarTrigger.js"></script>
<script src="fadeoutTrigger.js"></script>

</body>

</html>