<%- include("header") -%>
<title>Karibara - official website
</title>
</head>
<body>

    <header>
        <nav class="navbar">
            <!-- branding -->
           <a href="#">
            <img class="karibara-logo" src="/images/karibara_logo_02.png" alt="karibara logo">
           </a> 
    
           <!-- list menu -->
           <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">SKILLS</a>
            </li><li class="nav-item">
                <a href="#" class="nav-link">PROJECTS</a>
            </li><li class="nav-item">
                <a href="#" class="nav-link">CONTACT</a>
            </li>
           </ul>
    
           <!-- hamburger -->
           <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
           </div>
        </nav>
    </header>
 
<!-- main container -->
<div class="container">

    <div class="row">
        <div class="col-md-12 d-flex justify-content">

            <div class="welcome-header">
                <h1>
                    Hi, I'm Małgorzata.
                </h1>
                <h3>
                    Nice to meet you.
                </h3>
                <h3>
                    I am a designer & aspiring frontend developer.
                </h3>
            </div>
            
        </div>
    </div>    
    
</div>
<%- include("footer") -%>