<%- include("header") -%>
<title>Karibara - official website
</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="brand-logo"><img class="karibara-logo" src="/images/karibara_logo_02.png" alt="karibara logo" srcset=""><a href="#"></a></div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#">ABOUT ME</a></li>
                    <li><a href="#">SKILLS</a></li>
                    <li><a href="#">PROJECTS</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

        </nav>

    </div>
    

<%- include("footer") -%>