@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fed2aa;
  color: #915b50;
  padding: 0;
}

.karibara-logo {
  width: 35px;
  height: 35px;
  margin: 0.5rem 1rem;

}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #915b50;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #fec29d;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #915b50;
  border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: right;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links .active {
        display: flex;
    }
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: #ecb390;
  color: #bd7a6d;
}

.icons {
  text-align: center;
  margin: 1.5rem 0.25rem 0.25rem 0.25rem;
  font-size: 2rem;
  color: #bd7a6d;
}

.font-anchor {
  text-decoration: none;
}
